# Supabase 연결 정보
SUPABASE_URL=your-supabase-url-here
SUPABASE_KEY=your-supabase-key-here

# 로그인 정보 (보안을 위해 환경 변수로 관리)
USER_ID=your-user-id
USER_PASSWORD=your-password

# 네이버 지도 API 키
NAVER_MAP_CLIENT_ID=your-naver-map-client-id
NAVER_MAP_CLIENT_SECRET=your-naver-map-client-secret

